<div class="box"
<h1> All Customers</h1>
<br>
</div>
<div class="columns">
<%= render @customers %>
</div>


<%= link_to 'Alphabetical Order', alphabetized_path  %>
<br>
<%= link_to 'Customers Missing Emails', missing_email_path  %>